{% extends "layout.html.twig" %}

{% block content %}

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Merci de bien vouloir vous connecter.</p>
                <div class="box">
                    <span class="has-text-danger has-text-centered is-size-5">{{ user.flash }}</span>
                    <form action="/admin/login?redirectTo={{ redirectTo }}" method="POST">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" name="email" placeholder="Email"
                                       autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" name="password"
                                       placeholder="Mot de passe">
                            </div>
                        </div>
                        <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Se connecter">

                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="/admin/users/registration">S'inscrire</a> &nbsp;·&nbsp;
                </p>
            </div>
        </div>
    </div>

{% endblock %}