html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}

.container.main {
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.columns.row {
    border-bottom: solid 1px;
}

.hero.is-success {
    background: #F0F2F4;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    margin-top: 5rem;
}

.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

input {
    font-weight: 300;
}

p.subtitle {
    padding-top: 1rem;
}

.login-hr {
    border-bottom: 1px solid black;
}

.has-text-black {
    color: black;
}

.field {
    padding-bottom: 10px;
}

.fa {
    margin-left: 5px;
}

.comment-card {
    margin-bottom: 15px;
}