html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}

.navbar.is-white {
    background: #F0F2F4;
}

.navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
}

.navbar.is-fixed-top {
    border-bottom: #C7CFD5 solid 1px;
}

.navbar.bottom {
    border-top: #C7CFD5 solid 1px;
}

.hero-body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Plum_trees_Kitano_Tenmangu.jpg/1200px-Plum_trees_Kitano_Tenmangu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.articles {
    margin: 5rem 0;
    margin-top: -200px;
}

.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}

.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.media-center {
    display: block;
    margin-bottom: 1rem;
}

.media-content {
    margin-top: 3rem;
    overflow: hidden;
}

.article, .promo-block {
    margin-top: 2rem;
}

.card.home {
    margin-top: 2rem;
    background-color: #ffffffe3;
}

#contact-card {
    min-height: 32.5rem;
}

#resume-card {
    height: 10rem;
}

#about-card {
    min-height: 18rem;
}

.about-links {
    margin-top: 1rem;
}

.about-links a {
    font-size: 3rem;
    color: inherit;
}

div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
}

.article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
}

.article-subtitle {
    color: #909AA0;
    margin-bottom: 3rem;
}

.article-body {
    line-height: 1.4;
}

.promo-block .container {
    margin: 1rem 5rem;
}

.comment {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .articles {
        margin-top: -300px;
    }

    .hero.is-fullheight-with-navbar .hero-body {
        display: block;
    }
}

.hero.is-home {
    position: fixed;
    width: 100%;
}

.hero.is-home .hero-body {
    overflow: auto;
}

.navbar.bottom.is-home {
    position: relative;
    top: calc(100vh - 3.25rem);
}