<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Admin - My First Blog - {% endblock %}</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    {% block head %}{% endblock %}
</head>

<body class="has-navbar-fixed-top">
<!-- START NAV -->
<nav class="navbar is-fixed-top is-dark">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                {% if user.authenticated and user.role == "admin" %}
                    <a href="/admin/" class="navbar-item">
                        Accueil admin
                    </a>
                    <a href="/admin/posts/new" class="navbar-item">
                        Ajouter article
                    </a>
                {% endif %}
                <a href="/" class="navbar-item">
                    Retour site
                </a>
                {% if user.authenticated %}
                    <a href="/admin/logout" class="navbar-item">
                        Se déconnecter
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->

<div class="section {% if page == "login" %}hero is-success is-fullheight-with-navbar{% endif %}">
    {% block content %}
    {% endblock %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
{% block script %}{% endblock %}
</body>

</html>