<div class="card home" id="resume-card">
    <div class="card-content">
        <div
                class="columns is-multiline"
        >
            <div class="column is-12 about-me">
                <h2 class="title has-text-centered section-title">
                    Curiculum Vitae
                </h2>
            </div>
            <div class="column is-10 has-text-centered is-offset-1">
                <a href="/docs/cv.pdf" class="button">
                    Télécharger mon CV&emsp;<i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>