<div class="card home" id="contact-card">
    <div class="card-content">
        <div
                class="columns is-multiline"
        >
            <div class="column is-12 about-me">
                <h1 class="title has-text-centered section-title">
                    Me Contacter
                </h1>
            </div>
            <div class="column is-8 is-offset-2">
                <span class="has-text-success">{{ user.flash }}</span>
                <form
                        action="/"
                        method="POST"
                >
                    <div class="field">
                        <label for="name-input" class="label">Nom</label>
                        <div class="control has-icons-left">
                            <input
                                    class="input"
                                    type="text"
                                    placeholder="Ex. Jane Smith"
                                    name="name"
                                    id="name-input"
                            />
                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="email-input" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input
                                    class="input"
                                    type="email"
                                    placeholder="Ex. hello@arctheme.com"
                                    name="email"
                                    id="email-input"
                            />
                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="message-input" class="label">Message</label>
                        <div class="control">
                                            <textarea
                                                    id="message-input"
                                                    class="textarea"
                                                    placeholder="Votre message"
                                                    name="message"
                                            ></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control ">
                            <button class="button submit-button">
                                Envoyer&nbsp;&nbsp;
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>