{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block hero %}
    <section class="hero is-fullheight-with-navbar is-home">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-12">
                        <h1 class="title has-text-light">{{ owner.firstname }} {{ owner.lastname }} - Développeur</h1>
                    </div>
                </div>
                <div class="columns">
                    <!-- Begin About Me Section -->
                    <div class="column is-6">
                        <div class="card home" id="about-card">
                            <div class="card-content">
                                <h2 class="title has-text-centered section-title">Qui suis-je ?</h2>
                                <div class="columns">
                                    <div class="column is-6 has-vertically-aligned-content">
                                        <p>
                                            {{ owner.description }}
                                        </p>
                                        <div class="columns is-mobile about-links">
                                            <div class="column">
                                                <p class="heading">
                                                    <strong>GitLab</strong>
                                                </p>
                                                <a href="https://gitlab.com/MarJaM/"><i
                                                            class="fab fa-gitlab"></i></a>
                                            </div>
                                            <div class="column">
                                                <p class="heading">
                                                    <strong>LinkedIn</strong>
                                                </p>
                                                <a href="https://www.linkedin.com/in/marius-jammes/?locale=fr_FR"><i
                                                            class="fab fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 right-image">
                                        <img
                                                class="is-rounded"
                                                src="/img/home-logo.jpg"
                                                alt="Mon logo"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End About Me Content -->
                        <div class="">
                            {% include('card-resume.html.twig') %}
                        </div>
                    </div>
                    <!-- Begin Contact Content -->
                    <div class="column is-6">
                        {% include('card-contact.html.twig') %}
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block classNavbarBottom %}
    is-home
{% endblock %}