{% extends "layout.html.twig" %}

{% block head %}
    <script src="/js/password-verification.js"></script>
{% endblock %}

{% block content %}

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Inscription</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Inscrivez-vous en complétant le formulaire ci-desssous.</p>
                <div class="box">
                    <span class="has-text-danger has-text-centered is-size-5">{{ user.flash }}</span>
                    <form action="{{ redirectTo }}" method="POST">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="lastname" placeholder="Nom"
                                       autofocus="" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="firstname" placeholder="Prénom"
                                       required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" name="email" placeholder="Email"
                                       required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input id="password" class="input is-large" type="password" name="password"
                                       placeholder="Mot de passe" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input id="password-verification" class="input is-large" type="password"
                                       name="password-verification"
                                       placeholder="Vérification du mot de passe" required>
                            </div>
                            <strong id="password-verification-message" class="has-text-danger"></strong>
                        </div>
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea is-large" name="description" rows="3"
                                          placeholder="Présentez-vous en quelques mots."></textarea>
                            </div>
                        </div>
                        <input type="submit" class="button is-block is-info is-large is-fullwidth" value="S'inscrire">

                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="/admin">Se connecter</a> &nbsp;·&nbsp;
                </p>
            </div>
        </div>
    </div>

{% endblock %}