{% extends "layout.html.twig" %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/of8nrfe42d6pe1hlamv2wm9ufiaxx4k0jpmposw3tcf4caqj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block title %}{{ parent() }}Modifier article{% endblock %}

{% block content %}
    <div class="container main has-background-white">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <form action="/admin/posts/new" method="post">
                    <div class="field">
                        <div class="control">
                            <label for="title" class="label is-medium">
                                Titre
                                <input name="title" class="input is-medium" type="text" required>
                            </label>
                        </div>
                    </div>
                    <label class="label is-medium" for="author_id">Auteur</label>
                    <div class="field">
                        <div class="select">
                            <select id="author_id" name="author_id">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.firstname }} {{ user.lastname|upper }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="chapo" class="label">
                            Chapo
                            <textarea name="chapo" class="textarea"
                                      placeholder="Une courte introduction à l'article"></textarea>
                        </label>
                    </div>
                    <div class="field">
                        <label for="content" class="label">
                            Contenu de l'article
                            <textarea name="content" class="textarea" placeholder="Le contenu de l'article"
                                      rows="20"></textarea>
                        </label>
                    </div>
                    <div class="control">
                        <input type="submit" class="button is-link" value="Publier">
                    </div>
                </form>
            </div>
            <div class="column is-offset-1 is-5">

            </div>
        </div>
    </div>
{% endblock %}