{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}Articles{% endblock %}

{% block content %}
    <!-- START ARTICLE FEED -->
    <div class="container main has-background-white">
        <div class="columns is-hidden-mobile row has-background-primary">
            <div class="column is-3">
                <h3 class="is-size-5">Titre</h3>
            </div>
            <div class="column is-6">
                <h3 class="is-size-5">Extrait</h3>
            </div>
            <div class="column is-2">
                <h3 class="is-size-5">Auteur</h3>
            </div>
            <div class="column is-1"></div>
            </div>
            <!-- START ARTICLE -->
        {% for article in articles %}
            <div class="columns row">
                <div class="column is-3 is-size-4-mobile">
                    <h2 class="has-text-centered-mobile"><strong>{{ article.title }}</strong></h2>
                </div>
                <div class="column is-6">
                    <span>{{ article.chapo|raw }}</span>
                </div>
                <div class="column is-2 has-text-right-mobile">
                    <span><em>{{ article.firstname ~ " " ~ article.lastname }}</em></span>
                </div>
                <div class="column is-1 has-text-right-mobile">
                    <a class="button is-primary is-outlined" href='{{ "/admin/posts/" ~ article.id ~ "/update/" }}'><i
                                class="fas fa-pen"></i></a>
                </div>
            </div>
        {% endfor %}
            <!-- END ARTICLE -->
        </div>
    <!-- END ARTICLE FEED -->
{% endblock %}