{% extends "layout.html.twig" %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/of8nrfe42d6pe1hlamv2wm9ufiaxx4k0jpmposw3tcf4caqj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block title %}{{ parent() }}Modifier article{% endblock %}

{% block content %}
    <div class="container main has-background-white">
        <div class="columns">
            <div class="column is-6">
                <form action="/admin/posts/{{ article.id }}/update" method="post">
                    <div class="field">
                        <div class="control">
                            <label for="title" class="label is-medium">
                                Titre
                                <input name="title" class="input is-medium" type="text" value="{{ article.title }}"
                                       required>
                            </label>
                        </div>
                    </div>
                    <label class="label is-medium" for="author_id">Auteur</label>
                    <div class="field">
                        <div class="select">
                            <select id="author_id" name="author_id">
                                {% for user in users %}
                                    <option value="{{ user.id }}"
                                            {% if article.author_id == user.id %}selected{% endif %}>
                                        {{ user.firstname }} {{ user.lastname|upper }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="chapo" class="label">
                            Chapo
                            <textarea name="chapo" class="textarea"
                                      placeholder="Une courte introduction à l'article">{{ article.chapo|raw }}</textarea>
                        </label>
                    </div>
                    <div class="field">
                        <label for="content" class="label">
                            Contenu de l'article
                            <textarea name="content" class="textarea" placeholder="Le contenu de l'article"
                                      rows="20">{{ article.content|raw }}</textarea>
                        </label>
                    </div>
                    <div class="control has-text-right">
                        <input type="submit" class="button is-link" value="Modifier">
                    </div>
                </form>
            </div>
            <div class="column is-offset-1 is-5">
                <h2 class="title is-size-5">Gestion des commentaires</h2>
                {% if comments is empty %}<p>Aucun commentaire à modérer.</p>{% endif %}
                {% for comment in comments %}
                    <div class="card comment-card">
                        <header class="card-header">
                            <p class="card-header-title">Commentaire de {{ comment.author }}
                                le {{ comment.creation_date|date("d M Y") }}</p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                {{ comment.content|raw }}
                                <br>
                            </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/admin/posts/{{ article.id }}/comments/{{ comment.id }}/update/" class="card-footer-item">Valider</a>
                        <a href="/admin/posts/{{ article.id }}/comments/{{ comment.id }}/delete/" class="card-footer-item has-text-danger">Supprimer</a>
                    </footer>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container main has-background-white has-text-centered is-centered">
        <a href="/admin/posts/{{ article.id }}/delete" class="button is-medium is-danger">Supprimer l'article</a>
    </div>
{% endblock %}