{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}Articles{% endblock %}

{% block heading %}{{ parent() }}Articles{% endblock %}

{% block content %}
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            {% for article in articles %}
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <h2 class="title article-title">{{ article.title }}</h2>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">{{ article.firstname ~ " " ~ article.lastname }}</span>
                                    <span class="tag is-rounded">Dernière modification : {{ article.last_update|date("d M Y") }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body columns is-centered">
                            <div class="column is-10">
                                {{ article.chapo|raw }}
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <a class="button is-primary is-outlined" href='{{ "/posts/" ~ article.id }}'>Lire la
                                suite...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- END ARTICLE -->
        </div>
    </section>
    <!-- END ARTICLE FEED -->
{% endblock %}