{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ article.title }}{% endblock %}

{% block heading %}{{ article.title }}{% endblock %}

{% block content %}
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded is-info">{{ article.firstname ~ " " ~ article.lastname }}</span>
                                <span class="tag is-rounded">Dernière modification : {{ article.last_update|date("d M Y") }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="content article-body">
                        <div class="has-text-centered">
                            {{ article.chapo|raw }}
                        </div>
                        <div class="has-text-black-bis">
                            {{ article.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <div class="card article comments">
                <div class="card-content add-comment">
                    <div class="content article-body">
                        <h2 class="article-title">Ajouter un commentaire</h2>
                        {% if user.role != "visitor" %}
                            <form action="/posts/{{ article.id }}/comments/new" method="post">
                                <div class="field">
                                    <input class="input" type="text" name="author" placeholder="Votre nom"
                                           value="{{ user.firstname }} {{ user.lastname }}" required>
                                </div>
                                <div class="field">
                                <textarea class="textarea" name="content" rows="3" placeholder="Votre commentaire"
                                          required></textarea>
                                </div>
                                <div class="field has-text-centered">
                                    <input class="button" type="submit" value="Envoyer">
                                </div>
                            </form>
                        {% else %}
                            <p>Vous devez être connecté pour commenter.</p>
                        {% endif %}
                    </div>
                </div>
                <!-- START COMMENTS -->
                <div class="card-content comments">
                    <div class="content article-body">
                        {% if comments %}<h2 class="article-title">Commentaires</h2> {% endif %}
                        {% for comment in comments %}
                            <div class="comment has-background-white-ter">
                                <div class="comment-body columns">
                                    <span class="column is-2 is-rounded is-info has-text-centered-tablet">{{ comment.author }}</span>
                                    <span class="column is-2 is-rounded"><i>le {{ comment.creation_date|date("d M Y") }}</i></span>
                                    <span class="column is-8 ">{{ comment.content }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END COMMENTS -->
            </div>
        </div>
    </section>
    <!-- END ARTICLE FEED -->
{% endblock %}